* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: linear-gradient(90deg, #cfdbd5, #333533, #333533, #333533, #cfdbd5);
  background-color: #333533;
  color: #e8eddf;
}

 main h1 {
  color: #f5cb5c;
  text-shadow: 0 0 10px #cfdbd5, 0 0 20px #333533;
  font-weight: 800;
  font-size: 60px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

#results {
  padding: 2rem;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
}

#results canvas{
  margin-top: 8rem;
  padding-left: 9rem;
}

span {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}

span p{
  font-size: 22px;
  padding-top: 15px;
  text-align: center;
  font-weight:400;
  margin-top: 20px;
  padding: 10px;
  border-bottom: 2px solid #f5cb5c;
  border-top: 2px solid #f5cb5c;
  line-height: 1.5;
  margin-bottom: 20px;
}



main {
  width: 1024px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 6.5rem 10rem 20rem 40%;
}

section {
  background-color: #242423;
  grid-column-start: 1;
  border-radius: 20px;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  box-shadow: 0 6px 20px 0 rgba(207, 219, 213, 0.19);
}

section img {
  display: inline-block;
  margin: 4rem;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 5px solid transparent;
  border-radius: 20px;
}

section img:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 20px rgba(207, 219, 213, 0.2);
}

section.no-voting img:hover {
  border: 5px solid transparent;
  cursor: none;
}